# Ignore everything under outputs by default
outputs/**

# Re-allow the outputs dir itself and the two subdirs
!outputs/
!outputs/02_data_visualisation/
!outputs/03_modelling_and_evaluating/

# Keep ONLY the small runtime artifacts
!outputs/02_data_visualisation/image_shape.pkl
!outputs/03_modelling_and_evaluating/class_indices.pkl

# Still ignore big model artifacts
outputs/v1/*.h5
outputs/v1/*.keras

# Usual stuff
.venv/
__pycache__/
*.pyc
.env
env.py
.streamlit/
.ipynb_checkpoints/
kaggle.json
