.venv
env.py
.env

# Ignore model files that are too large unless tracked via LFS
*.h5
*.pt
*.pkl

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore kaggle API key if present
kaggle.json

# Ignore Python cache
__pycache__/
*.pyc